@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    display: flex;
    justify-content: center;
    padding: 30px 30px;
    align-items: center;
    min-height: 100vh;
    background: #000;
    background-size: cover;
    background-position: center;
    background-image: url(background.jpg);
}

.wrapper {
    width: 420px;
    background: transparent;
    color: #fff;
    border-radius: 10px;
    padding: 30px 30px;
    border: 3px solid rgba(255, 255, 255, .2);
    transition: .5s;
}

.wrapper h1 {
    font-size: 50px;
    text-align: center;
    transition: .5s;
}
.wrapper:hover h1{
    text-shadow: 2px 2px 4px gray;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0px;
}
.wrapper:hover{
    border: 1px solid #fff;
}
.wrapper:hover h1{
    color: #fff;
}
.wrapper:hover .input-box input{
    border: 2px so;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 3px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;

}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    transition: .5s;
}

.remember-forgot label input {
    color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;

}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 40px;
    background: gray;
    border: none;
    outline: none;
    margin-bottom: 2vh;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: .5s;
}
.wrapper:hover .btn{
    background: gray;
    color: #fff;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;

}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}
.btn{
    text-decoration: none;
    color: #fff;
}
.btn a {
    text-decoration: none;
    color: #fff;
}

.liw {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icons a {
    text-decoration: none;
    color: #fff;
}

.icons ion-icon {
    color: #000;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}

.icons ion-icon:hover {
    color: #fff;
}

.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.team {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
    opacity: 0.5;
}
