@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'REM', sans-serif;
    padding: 30px 30px;
    display: flex;
    height: 100vh;
    background: #befaf0;
}
html{
    scroll-behavior:smooth;
}
a{
    color: #000;
    text-decoration: none;
    transition: all 300ms ease-in-out;
    transition: .5s;
}
a:hover{
    text-shadow: 2px 2px 4px rgb(45, 46, 45);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181,181,181);
}
.logo{
    display:flex;
    position: absolute;
    color: #befaf0;
    font-size: 2rem;
    justify-content: space-around;
    align-items: center;
    height: 13vh;
}
.logo:hover{
    cursor: default;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(102, 94, 84);
}

table {
    margin-top: 12vh;
    border-collapse: collapse;
    width: 80%;
    height: 80%;
    opacity: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th, td {
    border: 1px solid #1b1a1a;
    padding: 8px;
    text-align: center;
    padding: 20px;
}
th {
    background-color: black;
    color: #befaf0;
}
.Btn{
    opacity: 1;
    background: rgb(136, 3, 3);
    justify-items: center;
    justify-content: space-around;
    height: 5vh;
    width: 25vh;
}
#msg{
    display: none;
    margin-top: 5vh;
    color: rgb(33, 167, 33);
}