@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'REM', sans-serif;
    padding: 30px 30px;
    display: block;
    background-size: cover;
    background-position: center;
    background: linear-gradient(180deg,#43a191,#467a72,#2d4743);
}
html{
    scroll-behavior:smooth;
}
h1{
    align-items: normal;
    text-decoration: underline ;
    text-decoration-color: rgb(24, 22, 22);
    font-weight: 500;
    color: black;
    margin-top: 3vh;
    margin-left: 5vh;
    margin-bottom: 2vh;
    display: flex; 
}
h2{
    align-items: normal;
    color: black;
    font-weight: 400;
    margin-left: 20vh;
    margin-bottom: 3vh;
    display: flex;
}
h4{
    text-decoration-color: rgb(43, 38, 38);
}
p{
    color: rgb(26, 26, 26);
    display: flex;
    align-items: left;
    font-size: x-large;
    font-weight: 400;
    margin-left: 5vh;
    margin-top: 5vh;
    margin-right: 5vh;
    margin-bottom: 15vh;
    justify-content: space-around;
}
nav,.nav-links{
    display:flex;
}
nav{
    justify-content: space-around;
    align-items: center;
    height: 13vh;
    background: black;
}
.nav-links{
    gap: 2rem;
    letter-spacing: 3px;
    list-style: none;
    font-size: 1.5rem;
}
a{
    color: #befaf0;
    text-decoration: none;
    transition: all 300ms ease-in-out;
    transition: .5s;
}
a:hover{
    text-shadow: 2px 2px 4px rgb(45, 46, 45);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181,181,181);
}
.logo{
    color: #befaf0;
    font-size: 2rem;
}
.logo:hover{
    cursor: default;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(102, 94, 84);
}

.image-container {
    position: relative;
    display: block;
    margin-left: 3vh;
}
.description {
    position: absolute;
    top: 20%;
    font-family: 'REM', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: x-large;
    height: fit-content;
    width: fit-content;
    margin-left: 52vh;
    margin-right: 2vh;
    opacity: 1;
    display: block;
}
.image-container img{
    height: 40vh;
    width: 50vh;
    margin-right: 3vh;
    margin-bottom: 3vh;
}

.image-container:hover .description {
    display: block;
}
.image-container-even {
    position: relative;
    display: block;
    align-items: right;
    margin-left: 3vh;
}
.description-even {
    position: absolute;
    top: 20%;
    font-family: 'REM', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: x-large;
    height: fit-content;
    width: 115vh;
    margin-left: 3vh;
    opacity: 1;
    display: block;
}
.image-container-even img{
    height: 40vh;
    width: 40vh;
    margin-left: 120vh;
    margin-bottom: 3vh;
}

.image-container-even:hover .description-even {
    display: block;
}
.Needslist{
    position: relative;
    display: flex;
    width: 100%;
    height: 20vh;
    margin-top: 4vh;
    margin-bottom: 5vh;
}
.NeedDisc{
    position: relative;
    top: 20%;
    font-size: large;
    font-weight: 400;
    margin-left: 3vh;
    margin-right: 17vh;
}

/*.copyright{
    padding: 7px;
    background-color: black;
    display: flex;
    text-align: center;
    border: 1px solid black;
    height: 7vh;
}
.copyright{
    color: #fff;
}*/
